* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
aside {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 56px;
}

aside {
  transition: width 0.3s ease-in-out;
}

aside:hover {
  width: 200px; /
}

nav a .text-label {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s linear; /* Remove the delay for visibility */
}

aside:hover a .text-label {
  opacity: 1;
  visibility: visible;
}

nav a:hover {
  background-color: #93c5fd; /* Light blue background on hover */
}
