<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js"></script>
    <!-- Include the Tailwind CSS CDN -->
    <link rel="stylesheet" href="{{ url_for('static', path='/css/app.css')}}" />
  </head>

  <body
    class="bg-gradient-to-b from-light-blue-400 to-indigo-600 min-h-screen flex items-center justify-center"
  >
    <div
      class="relative bg-white bg-opacity-80 p-8 rounded shadow-md w-full max-w-md"
    >
      <div
        class="absolute bg-gradient-to-b from-light-blue-400 to-indigo-600 opacity-50 rounded"
      ></div>

      <div class="flex items-center gap-2 mb-4">
        <!-- Back button with arrow icon -->
        <a href="/" class="absolute text-blue-400 text-md">
           <span>Regresar al inicio</span>
        </a>
      </div>
      <h2 class="text-2xl font-semibold text-gray-800 mb-6">{{ title }}</h2>

      <!-- Sign-up form -->
      <form
        id="signup-form"
        hx-post="/auth/signup"
        hx-target="#error-result"
        hx-swap="innerHTML"
        hx-on::after-request="this.reset()"
      >
        <!-- Email -->
        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-600"
            >Email</label
          >
          <input
            type="email"
            id="username"
            name="username"
            class="mt-1 p-2 w-full border rounded-md"
          />
        </div>

        <!-- Password -->
        <div class="mb-6">
          <label for="password" class="block text-sm font-medium text-gray-600"
            >Contrase&ntilde;a</label
          >
          <input
            type="password"
            id="password"
            name="password"
            class="mt-1 p-2 w-full border rounded-md"
          />
        </div>

        <!-- Submit button -->
        <div>
          <button
            type="submit"
            class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300"
          >
            Crear cuenta
          </button>
        </div>
      </form>
      <div id="error-result"></div>
    </div>
  </body>
</html>
